<tr class="text-left">
  <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-6"><%= task.name %></td>
  <td class="px-3 py-4 text-sm text-gray-500 capitalize whitespace-nowrap"><%= task_status(task) %></td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= task.due_date %></td>
  <td class="relative py-4 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-6">
    <%= link_to "Edit", edit_task_path(task), class: "text-indigo-600 hover:text-indigo-900" %>
  </td>
</tr>
