<header class="flex justify-between w-full p-4">
  <%= link_to root_path, class: "text-3xl font-semibold text-indigo-600 tracking-tight" do %>
    <span>📚</span>

    <span class="underline underline-offset-8 decoration-wavy decoration-indigo-300">
      SimplyTask
    </span>
  <% end %>

  <%= button_to session_path(current_user), method: :delete, class: "group inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" do %>
    <span class="group-disabled:hidden">Logout</span>
    <span class="hidden group-disabled:block group-disabled:cursor-wait">Logging out...</span>
  <% end %>
</header>